name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    strategy:
      matrix:
        python_version: ["3.7", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '${{ matrix.python_version }}'
      - run: pip install -e .[test]
      - run: pytest --durations=10 tests/

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pyroma
      - run: python -m build --sdist
      - run: pyroma dist/*.tar.gz

  release:
    runs-on: ubuntu-latest
    needs: [tests, lint]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install tooling
        run: pip install build
      - name: Build wheel
        run: python -m build --wheel --sdist
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
